* {margin: 0;
   padding:0;
}

.top {
  position:relative;
  left:0; right:0;
  height: 300px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
}
.left{
    resize: none;
    float: left;
    border: 2px groove threedface;
    border-width:2px;
    padding: 20px;
    margin:10px;
    position:relative;
    left:150; top:0; bottom: 0;
    width: 200px;
    height: 400px;
    overflow-y: scroll;
}
.main{
    float: left;
  position: relative;
  left:0; top:20; right:0; bottom:0;
}
body{margin:20px
auto;max-width:1200px;line-height:1.3;font-size:18px;color:#444;padding:0
10px}

p{
  margin: 0px;
  padding:0px;
  border:0px;
}

fieldset{
  border: 2px groove threedface;
  padding: 0.5em;
  margin: 1em 2px;
}

button{
  font-size: 14px;
  padding: 4px;
  margin: 2px;
}

footer {
    float: right;
    height: 35px;
    margin: 0px 50px 0px 0px;
    text-align: right;
    width: 180px;
    bottom: 0; right 0;
}

